[Unit]
Description=Samsung Modbus Service

[Service]
Type=simple
ExecStart=bash -c "cd /home/danhalson/samsung-modbus-mim-b19n && venv/bin/python3 mqtt_client.py"
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
